<div class = "container">
<% @people.each do |p| %>
  <div class = "col-md-3">
    <p><h5> Name</h5></p><p> <%= link_to "#{p.first_name}" " " "#{p.last_name}".html_safe, "#{p.photo}" %></p>
    <p><h5> Gender </h5>  <p> <%= p.gender %></p>
    <% p.records.each do |r| %>
    <p><h5> Sport</h5><%= r.sport %></p>
<% end %>
  </div>

    <div class = "col-md-3">
      <p><%= image_tag(p.photo_url, :class => "img-responsive") %></p>
    </div><br>

      <% end %>
</div>
