
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "people";


body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

footer {
    padding: 30px 0;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 5px 0px;
    }
}
#title h2{
  color:white;
  padding-left: 20px;
}

#title a{
  color: white;
  text-decoration: none;
}

.navbar-inverse {
  background-color:#5F0707;
}

.org-name{
  font-family:impact;
  text-align: center;
}

.org-info{
  text-align: center;
}

.opt{
  font-size: 20px;
}

.card{
  border:1px gray solid;
  background-color: #5F0707;
  box-shadow: #B3B3B3 17px 17px 17px;
  border-radius: 35px;
  padding: 20px 20px;
  margin: 10px;
  color: white;
  min-height: 280px;
  max-height:280px;

}
.card a{
  color: white;
}

#person-info{
  background-color:#C0C0C0;
  box-shadow:#B3B3B3 13px 13px 13px;
  border: 1px gray solid;
  border-radius: 10px;
  width: 70vw;
}

.info{
  margin-left:60px;
  font-family:tahoma;
}

.showphoto{
  max-height: 400px;
}

.icons{
  padding-bottom: 20px;
  margin-left: 5px;
}

.sport{
  text-align:left;
  text-decoration:underline;
}
.sport a{
  color:black;
}

.org-names-index a{
  color:#5F0707;
  text-decoration: none;
}

@media(min-width:992px){
.cardholder{
  margin:0px auto;
  padding-left:12vw;
}
}

.cardrow{
  margin: 0px auto;
}

.indexphoto{
  max-height:250px;
}
