<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Organization Name</h1>
            <p>Address:</p>
            <p>Phone:    </p>
            <a class="btn btn-primary btn-lg" href="#">Google Map image</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Well -->
    <!--<div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Check out our athletic accomplishments!
            </div>
        </div>-->
        <!-- /.col-lg-12 -->
  <!--  </div> -->
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <h3>Select the option by which you'd like to find the athletic record:</h3>
        <div class="col-md-2">
            <a class="btn btn-default btn-primary btn-large" href="#">By Sport</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2">
            <a class="btn btn-default btn-primary btn-large" href="#">Hall of Famers</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2">
            <a class="btn btn-default btn-primary btn-large" href="#">Achievements</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2">
            <a class="btn btn-default btn-primary btn-large" href="#">By Year</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2">
            <a class="btn btn-default btn-primary btn-large" href="#">Last Name A-Z</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
</div>
